{% extends "base.html" %}

{% block body %}
<section class="about">
<h2>About Anemoia</h2>
<hr>

<h3>A note from the developer</h3>
<p>
  Hi, my name’s <a href="https://github.com/tobyjordan">Toby</a>. I’m a 15 year
  old living in the UK with a passion for computing and computer technology. I
  built this platform because I wasn’t happy with any of the existing
  news-aggregate platforms. I’m happy to be at a stage in development where I
  can now share it with the world. I’m the sole developer working on the
  platform and paying for maintenance but server costs are expensive, please
  consider a small donation towards DigitalOcean Hosting fees! I hope you enjoy the platform;
  if you have any queries or concerns don’t hesitate to contact me via email or other platforms.
</p>
<ol>
  <li><a href="mailto:tobyjordan.work@protonmail.com" target="_top"><strong>email: </strong>tobyjordan.work@protonmail.com</a></li>
  <li><a href="https://instagram.com/tobyjordan"><strong>instagram: </strong>@tobyjordan</a></li>
</ol>

<h3>Why Anemoia?</h3>
<p>
  The news-aggregate and rss-reader market is extremely saturated,
  so why a new one. Earlier this year I was looking for a news reader but despite
  the humungous range out there, I was dissapointed. I just wanted a simple and
  minimalist news reader. I didn't need any complex news-room-like features and I
  didn't want an overcomplicated and out-dated ui. That's why I built anemoia. A platform
  designed to solve these problems, with a simple, intuitive and ultra-minimalist modern ui.
</p> 

<h3>What's next for Anemoia</h3>
<p>Currently, anemoia is in
  an MVP(minimum viable product) stage. Development is ongoing! If you would like
  to keep up to date, or even contribute, the entire project is open-sourced via a
  <a href="https://github.com/tobyjordan/anemoia">github repository</a> There are
  many planned features coming soon, here is a brief list - for a more detailed
  plan visit the repo. 
</p>
<ul class="indent">
  <li>* User accounts: Users will be able to log into the platform to save their settings, their favourite news sources and sources they'd rather ignore.</li>
  <li>* Anemoia Premium: Don't worry - this is not a subscription model! Users would be able to upgrade for a one-off fee of around $7. This would support the platform and ensure development continues, it would also remove (unintrusive - these are already implemented) ads from the platform.</li>
</ul>

<h3>Donate</h3>
<p>Support the project with a donation via crypto or paypal.</p>
<ol>
  <li><a href="#" target="_top"><strong>donate with paypal</strong></a></li>
  <li><a href="#"><strong>ethereum: </strong>4l50c0m1ngs00nc0m1ng</a></li>
  <li><a href="#"><strong>bitcoin: </strong>c0m1ngs00nc0m1ngs00n</a></li>
</ol>
</section>
{% endblock %}

