{% import "helpers.html" as helpers %}

{% extends "base.html" %}
{% block body %}
<!-- Start of Section - Latest -->
<section class="latest">
  <h2>Latest</h2>
  <hr>

  <div class="article-grid">
    <article class="bigfig">
      <div class="img"></div>
      <div class="art-desc">
        <h3><a target="_blank" href="{{ latest_feed[0]['link'] }}">{{ latest_feed[0]["title"] }}</a></h3>
        <h4>{{ latest_feed[0]["source"] }}</h4>
        <p class="summary">
          <date>{{ helpers.moment_format(latest_feed[0]["date"], moment=moment) }}: </date>{{ latest_feed[0]["summary"] }}
        </p>
      </div>
    </article>

    {% for entry in latest_feed[1:] %}
    <article class="midfig">
      <div class="img"></div>
      <div class="art-desc">
        <h3><a target="_blank" href="{{ entry['link'] }}">{{ entry["title"] }}</a></h3>
        <h4>{{ entry["source"] }}</h4>
        <p class="summary">
          <date>{{ helpers.moment_format(entry["date"], moment=moment) }}: </date>{{ entry["summary"] }}
        </p>
      </div>
    </article>
    {% endfor %}
 
    <aside>
      <h2>Anemoia</h2>
      <h3>simplify your life</h3>
      <p>Join today to remove ads like this and support the project.</p>
    </aside>
  </div>

</section>

<!-- Start of Section - Curated -->
<section class="curated">
  <h2>Curated</h2>
  <hr>

  <div class="small-article-grid">
    {% for article in curated_feed %}
    <article class="smallfig">
      <div class="img"></div>
      <div class="art-desc">
        <h5>{{ article["source"] }}</h5>
        <h4><a target="_blank" href="{{ article['link'] }}"><span>{{ loop.index }}. </span>{{ article["title"] }}</a></h4>
      </div>
    </article>
    {% endfor %}
  </div>

</section>

<!-- Start of Section - tts -->
<section class="tts">
  <h2>Today's Top Stories</h2>
  <hr>

  <div class="article-grid">
  <article class="bigfig">
      <div class="img"></div>
      <div class="art-desc">
        <h3><a target="_blank" href="{{ more_feed[0]['link'] }}">{{ more_feed[0]["title"] }}</a></h3>
        <h4>{{ more_feed[0]["source"] }}</h4>
        <p class="summary">
          <date>{{ helpers.moment_format(more_feed[0]["date"], moment=moment) }}: </date>{{ more_feed[0]["summary"] }}
        </p>
      </div>
    </article>

    {% for entry in more_feed[1:] %}
    <article class="midfig">
      <div class="img"></div>
      <div class="art-desc">
        <h3><a target="_blank" href="{{ entry['link'] }}">{{ entry["title"] }}</a></h3>
        <h4>{{ entry["source"] }}</h4>
        <p class="summary">
          <date>{{ helpers.moment_format(entry["date"], moment=moment) }}: </date>{{ entry["summary"] }}
        </p>
      </div>
    </article>
    {% endfor %}

    <aside>
      <h2>Anemoia</h2>
      <h3>simplify your life</h3>
      <p>Thank you for using Anemoia, please consider sharing with your friends to support the project ;)</p>
    </aside>
  </div>

</section>

<!-- Define Images -->
<style>
  /* Section: Latest */
  section.latest article.bigfig .img {
    {% if latest_feed[0].thumbnail %}
    background-image: url("{{ latest_feed[0].thumbnail }}");
    {% elif latest_feed[0].logo %}
    background-image: url("{{ latest_feed[0].logo }}");
    background-size: 120px;
    background-repeat: no-repeat;
    background-position: center;
    {% else %}
    background-color: cyan;
    {% endif %}
  }

  {% for entry in latest_feed[1:] %}
  section.latest article.midfig:nth-child({{ loop.index+1 }}) .img {
    {% if entry.thumbnail %}
    background-image: url("{{ entry.thumbnail }}");
    {% elif entry.logo %}
    background-image: url("{{ entry.logo }}");
    background-size: 120px;
    background-repeat: no-repeat;
    background-position: center;
    {% else %}
    background-color: cyan;
    {% endif %}
  }

  {% endfor %}

  /* Section: Curated */
  {% for entry in curated_feed %}
  article.smallfig:nth-child({{ loop.index }})>div.img {
    {% if entry.thumbnail %}
    background-image: url("{{ entry.thumbnail }}");
    {% elif entry.logo %}
    background-image: url("{{ entry.logo }}");
    background-size: 120px;
    background-repeat: no-repeat;
    background-position: center;
    {% else %}
    background-color: cyan;
    {% endif %}
  }

  {% endfor %}

  /* Section: More */
  section.tts article.bigfig .img {
    {% if more_feed[0].thumbnail %}
    background-image: url("{{ more_feed[0].thumbnail }}");
    {% elif more_feed[0].logo %}
    background-image: url("{{ more_feed[0].logo }}");
    background-size: 120px;
    background-repeat: no-repeat;
    background-position: center;
    {% else %}
    background-color: cyan;
    {% endif %}
  }

  {% for entry in more_feed[1:] %}
  section.tts article.midfig:nth-child({{ loop.index+1 }}) .img {
    {% if entry.thumbnail %}
    background-image: url("{{ entry.thumbnail }}");
    {% elif entry.logo %}
    background-image: url("{{ entry.logo }}");
    background-size: 120px;
    background-repeat: no-repeat;
    background-position: center;
    {% else %}
    background-color: cyan;
    {% endif %}
  }

  {% endfor %}
</style>
{% endblock %}