{% extends "base.html" %}
{% block body %}
<!-- Start of Section - Latest -->
<section class="latest">
  <h2>Latest</h2>
  <hr>

  <div class="article-grid">
    <article class="bigfig">
      <div class="img"></div>
      <div class="art-desc">
        <h3>{{ latest_feed[0]["title"] }}</h3>
        <h4>{{ latest_feed[0]["source"] }}</h4>
        <p class="summary">
          <date>{{ latest_feed[0]["date"] }}: </date>{{ latest_feed[0]["summary"] }}
        </p>
      </div>
    </article>

    {% for entry in latest_feed[1:] %}
    <article class="midfig">
      <div class="img"></div>
      <div class="art-desc">
        <h3>{{ entry["title"] }}</h3>
        <h4>{{ entry["source"] }}</h4>
        <p class="summary">
          <date>{{ entry["date"] }}: </date>{{ entry["summary"] }}
        </p>
      </div>
    </article>
    {% endfor %}

    <aside></aside>
  </div>

</section>

<!-- Start of Section - Curated -->
<section class="curated">
  <h2>Curated</h2>
  <hr>

  <div class="small-article-grid">
    {% for article in curated_feed %}
    <article class="smallfig">
      <div class="img"></div>
      <div class="art-desc">
        <h5>{{ article["source"] }}</h5>
        <h4><span>{{ loop.index }}. </span>{{ article["title"] }}</h4>
      </div>
    </article>
    {% endfor %}
  </div>

</section>

<!-- Start of Section - tts -->
<section class="tts">
  <h2>Today's Top Stories</h2>
  <hr>

  <div class="article-grid">
  <article class="bigfig">
      <div class="img"></div>
      <div class="art-desc">
        <h3>{{ more_feed[0]["title"] }}</h3>
        <h4>{{ more_feed[0]["source"] }}</h4>
        <p class="summary">
          <date>{{ more_feed[0]["date"] }}: </date>{{ more_feed[0]["summary"] }}
        </p>
      </div>
    </article>

    {% for entry in more_feed[1:] %}
    <article class="midfig">
      <div class="img"></div>
      <div class="art-desc">
        <h3>{{ entry["title"] }}</h3>
        <h4>{{ entry["source"] }}</h4>
        <p class="summary">
          <date>{{ entry["date"] }}: </date>{{ entry["summary"] }}
        </p>
      </div>
    </article>
    {% endfor %}

    <aside></aside>
  </div>

</section>

<!-- Start of Footer -->
<p id="prefoot-text">
  Sign up to see more, and to get personalised stories. Thank you for using Anemoia, please share with your friends to support the project.
</p>

<footer>
  <p>
    Anemoia -<br class="mobile-lbreak" /> an open-source, minimalist news-aggregate 
    <br /><br class="mobile-lbreak" />
    Copyright &copy; 2018 Toby Jordan
  </p>
</footer>

<!-- Define Images -->
<style>
  /* Section: Latest */
  section.latest article.bigfig .img {
    {% if latest_feed[0].thumbnail %}
    background-image: url("{{ latest_feed[0].thumbnail }}");
    {% elif latest_feed[0].logo %}
    background-image: url("{{ latest_feed[0].logo }}");
    background-size: 120px !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    {% else %}
    background-color: cyan;
    {% endif %}
  }

  {% for entry in latest_feed[1:] %}
  section.latest article.midfig:nth-child({{ loop.index+1 }}) .img {
    {% if entry.thumbnail %}
    background-image: url("{{ entry.thumbnail }}");
    {% elif entry.logo %}
    background-image: url("{{ entry.logo }}");
    background-size: 120px !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    {% else %}
    background-color: cyan;
    {% endif %}
  }

  {% endfor %}

  /* Section: Curated */
  {% for entry in curated_feed %}
  article.smallfig:nth-child({{ loop.index }})>div.img {
    {% if entry.thumbnail %}
    background-image: url("{{ entry.thumbnail }}");
    {% elif entry.logo %}
    background-image: url("{{ entry.logo }}");
    background-size: 120px !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    {% else %}
    background-color: cyan;
    {% endif %}
  }

  {% endfor %}

  /* Section: More */
  section.tts article.bigfig .img {
    {% if more_feed[0].thumbnail %}
    background-image: url("{{ more_feed[0].thumbnail }}");
    {% elif more_feed[0].logo %}
    background-image: url("{{ more_feed[0].logo }}");
    background-size: 120px !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    {% else %}
    background-color: cyan;
    {% endif %}
  }

  {% for entry in more_feed[1:] %}
  section.tts article.midfig:nth-child({{ loop.index+1 }}) .img {
    {% if entry.thumbnail %}
    background-image: url("{{ entry.thumbnail }}");
    {% elif entry.logo %}
    background-image: url("{{ entry.logo }}");
    background-size: 120px !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    {% else %}
    background-color: cyan;
    {% endif %}
  }

  {% endfor %}
</style>
{% endblock %}